h1 {
  color: lightslategray;
}

.task-name {
  font-weight: bold;
  color: cadetblue;
}

.task-container{
  .bi-toggle2-on:hover{
    cursor: pointer;
  }
  .bi-toggle2-off:hover{
    cursor: pointer;
  }
  .bi-trash{
    cursor: pointer;
  }
}

.task-completed{
  color: lightgray;
  text-decoration: line-through;
  font-weight: bold;

}

.task-pending{
  color: tomato;
  font-weight: bold;
}